* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    overflow: hidden;
    width: 80%;
    height: 90%;
    background-color: rgb(245, 245, 247);
    border-radius: 10px;
}

.nav {
    width: 100%;
    height: 70px;
    background-color: rgb(238, 152, 152);
    display: flex;
    align-items: center;
    color: rgb(13, 63, 17);
    justify-content: center;
}

.element {
    padding: 0 5%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.values {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 555;
}

.element h2 {
    font-weight: 500;
}

.box-bottom {
    width: 100%;
    height: calc(100% - 100px);
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.bubble {
    background-color: rgb(177, 220, 245);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    box-shadow: 3px 3px rgba(142, 185, 211, 0.2);
}


@keyframes bub {
    from {
        transform: scale(1.5);
    }   
    to {
        transform: scale(1);
    }
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(135, 206, 206);
    animation: bub 0.5s ease infinite alternate;
}