@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  /* Background colors */
  --bg-primary-color: #000;
  --bg-secondary-color: #f79191;
  --bg-food-color: #f31616;

  /* Text colors */
  --text-primary-color: #fff;

  /* spacing */
  --space-xs: 4px;
  --space-s: 10px;
  --space-md: 16px;
  --space-lg: 22px;
  --space-xl: 30px;

  /* border colors */
  --border-primary-color: #a09f9f;
  --border-sec-color: #3f3e3e;

  /* border radius */
  --border-radius-xs: 5px;
  --border-radius-sm: 10px;
  --border-radius-md: 15px;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
section {
  width: 100%;
  height: 100%;
}

section {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.infos {
  display: flex;
  justify-content: space-around;
}

.info {
  border: 1px solid var(--border-primary-color);
  padding: var(--space-md);
  border-radius: var(--border-radius-sm);
}

.board {
  border: 1px solid white;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  /* border: 1px solid var(--border-sec-color); */
}

.fill {
  background-color: var(--bg-secondary-color);
}

.food {
  background-color: var(--bg-food-color);
}

.over {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-game, .game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.btn {
  padding: var(--space-s) var(--space-md);
  font-size: 1rem;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.game-over {
  display: none;
}